/*--------------------------------------Variables-----------------------------*/
/*---------------------------------------CSS----------------------------------*/
/*############################## Tags*/
header {
  margin: 50px auto;
  padding: 50px 0;
}
address {
  font-size: 80%;
  margin: 0;
  color: #0f0f0f;
}
body {
  padding: 50px 0 0;
  z-index: 0;
}
/*--------------------------------------Mix-ins-------------------------------*/
/*############################## IDs*/
#carouselButton {
  right: 0 !important;
  position: absolute !important;
  bottom: 0 !important;
}
/*############################## Classes*/
.row-header {
  margin: 0 auto;
  padding: 0px 0px;
}
.row-content {
  margin: 0 auto;
  padding: 50px 0px;
  border-bottom: 1px ridge;
  min-height: 400px;
}
.footer {
  background-color: #F1C4E9;
  margin: 0 auto;
  padding: 50px 0px;
}
.jumbotron {
  margin: 0 auto;
  padding: 70px 30px;
  background: #9575CD;
  color: floralwhite;
}
.navbar-dark {
  background-color: #622DA8;
}
.tab-content {
  border-left: 1px solid #ddd;
  border-right: 1px solid #ddd;
  border-bottom: 1px solid #ddd;
  padding: 10px;
}
.btn-info {
  background-color: #622DA8;
  color: floralwhite;
}
.carousel {
  background: #622DA8;
  -webkit-transform-style: preserve-3d;
  -moz-transform-style: preserve-3d;
  transform-style: preserve-3d;
}
.carousel-item {
  height: 300px;
}
.carousel-item img {
  position: absolute;
  top: 0;
  left: 0;
  min-height: 100%;
}
.carousel-caption {
  margin-left: 25%;
  top: 50%;
  transform: translateY(-50%);
  bottom: initial;
}
@media screen and (min-width: 765px) and (max-width: 991px) {
  .carousel-caption {
    right: 10%;
    top: 50%;
    margin-left: 35%;
  }
}
@media only screen and (max-width: 765px) {
  .carousel-item img {
    max-height: 100%;
    min-width: 100%;
  }
  #resTable {
    margin-top: 10%;
  }
}
